
.seeourprocess{
    width: 25%;
height: 50px;
border: 3px solid #2D3133;
display: flex;
justify-content: center;
align-items: center;
}
.Thirdsectionsolution{
    margin-top: 100px;
}
.ghjb{
    width: 100%;
    display: flex;
    justify-content: center;
}